body {
  text-align: center;
}
svg {
  overflow: visible;
  margin: 20px;
}

.viewer {
  transform: scale(3);
  transform-origin: top center;
}

input[type="range"] {
  display: block;
  margin: 0 auto;
}
